@model RandomProduct.Models.Product

@{
    ViewData["Title"] = "Product détails";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Product @Model.Id
        </div>

        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>

            <p class="card-text">
                <strong>Price :</strong> @Model.Price <br />
                <strong>Stock :</strong> @Model.Stock
            </p>

            <a href="/Product/Products" class="btn btn-primary">
                Go back to products list
            </a>
        </div>
    </div>
</div>
